@page "/SessionsTraining/{CategoryName}"

<h1>@CategoryName</h1>

@{int count = 0;}

@if (!ShowResultsOfQuiz)
{
    <ListGroup Mode="ListGroupMode.Selectable">
        @foreach (KeyValuePair<int, List<QuestionAnswerLocalStorage>> item in ListOfQuizes)
        {
            <ListGroupItem Name="@item.Value.First().DateTime.ToString()" Color="GetColor(count)" @onclick="@(() => ShowResults(item.Value.First().DateTime))">
                Quiz realized on @item.Value.First().DateTime
            </ListGroupItem>
            count++;
        }
    </ListGroup>
    <div>Item: @SelectedItem</div>
}
else
{
    <div>Item: @SelectedItem</div>

    <div>Cambiamos de panel</div>
    <Button @onclick="GoBack" Color="Color.Danger">Go back</Button>

    <CascadingValue Value="@GetCategory()">
        <CascadingValue Value="@CategoryName">
            <EndQuiz AnswersList="@AnswersList" />
        </CascadingValue>
    </CascadingValue>
}
<div>
    @SelectedItem
</div>