@page "/SessionsTraining/{CategoryName}"

<Div Flex="Flex.JustifyContent.Center">
    <h1>@CategoryName</h1>
</Div>

@{int count = 0;}

@if (!ShowResultsOfQuiz)
{
    <ListGroup Mode="ListGroupMode.Selectable">
        @foreach (KeyValuePair<int, List<QuestionAnswerLocalStorage>> item in ListOfQuizes)
        {
            <ListGroupItem Name="@item.Value.First().DateTime.ToString()" Color="GetColor(count)" @onclick="@(() => ShowResults(item.Value.First().DateTime))">
                Quiz realized on @item.Value.First().DateTime
            </ListGroupItem>
            count++;
        }
    </ListGroup>
}
else
{
    <Button @onclick="GoBack" Color="Color.Danger">Go back</Button>

    <CascadingValue Value="@GetCategory()">
        <CascadingValue Value="@CategoryName">
            <EndQuiz AnswersList="@AnswersList" />
        </CascadingValue>
    </CascadingValue>
}