@page "/StartQuiz/{CategoryName}/{category:int}/{numberOfQuestions:int}"


@if (EndQuizReport)
{
    <CascadingValue Value="@Category">
         <CascadingValue Value="@CategoryName">
            <EndQuiz AnswersList="@AnswersList"/>
         </CascadingValue>
    </CascadingValue>
}
else
{
    if (!Error.IsError && ShouldRender())
    {
    <Div Flex="Flex.JustifyContent.Center" Border="Border.Is1.Rounded.Is1.Primary" Margin="Margin.Is0" Background="Background.White" class="shadow">
        <Div class="w-100" Padding="Padding.Is3">

            <Div Margin="Margin.Is4.FromTop" Flex="Flex.JustifyContent.Center">
                <h2>@CurrentQuestion.Question</h2>
            </Div>

            <RadioGroup TValue="int" Name="answers" @bind-CheckedValue="@_questionAnswer.SelectedByUser">
                @foreach (KeyValuePair<string, int> answerValue in ShuffleAnswers)
                {
                    <Radio Checked="false" TValue="int" Value="@answerValue.Value" Margin="Blazorise.Margin.Is2" @onclick="EnableButton">@answerValue.Key</Radio><br />
                }
            </RadioGroup>

                <Div Flex="Flex.JustifyContent.Center">
                    <div class="w-25">
                        @if (IsLastQuestion)
                        {

                            <Button Size="Size.Medium" Block="true" Color="Color.Success" Margin="Margin.Is2.FromBottom.Is3" Disabled="@(!IsButtonEnable)" @onclick="FinishQuiz">
                                Finish!
                            </Button>
                        }
                        else
                        {
                            <Button Size="Size.Medium" Block="true" Color="Color.Primary" Margin="Margin.Is2.FromBottom.Is3" Disabled="@(!IsButtonEnable)" @onclick="NextQuestion">
                                Next!
                            </Button>
                        }
                    </div>
                </Div>

                <CascadingValue Value="CurrentQuestionNumber">
                    <CascadingValue Value="IsLastQuestion">
                        <PersonalizedProgressBarsQuestions @ref="PersonalizedProgressBar" FinisgQuizCallBack="FinishQuiz" NextQuestionCallBack="NextQuestion" NumberOfqustions="@ListQuestions.Count" />
                    </CascadingValue>
                </CascadingValue>
        </Div>
    </Div>
    }
    else
    {
        <!-- TODO Create an beratiful container -->
        <p>LOADING QUIZ</p>
    }
}