@page "/StartQuiz/{category:int}/{numberOfQuestions:int}"


@if (EndQuizReport)
{
    <EndQuiz AnswersList="@AnswersList"></EndQuiz>

}
else
{
    <h3>StartQuiz</h3>

    if (!Error.IsError && ShouldRender())
    {
        <div class="align-items-center container-fluid container bg-light border border-3 border-primary p-3 rounded-3 shadow rounded-3 w-75">

            <div class="text-center">
                <h3 class="m-2">@CurrentQuestion.Question</h3>
            </div>

            <Form>

                <RadioGroup TValue="int" Name="answers" @bind-CheckedValue="@_questionAnswer.SelectedByUser">
                    @foreach (KeyValuePair<string, int> answerValue in ShuffleAnswers)
                    {
                        <Radio Checked="false" TValue="int" Value="@(Convert.ToInt32(String.Format("{0}{1}", counter, answerValue.Value)))" Margin="Blazorise.Margin.Is2" @onclick="EnableButton">@answerValue.Key</Radio><br />
                    }
                </RadioGroup>

                <div class="d-flex justify-content-center">
                    <div class="w-25 m-2">
                        @if (IsLastQuestion)
                        {
                            <Button Size="Size.Medium" Block="true" Color="Color.Success" Disabled="@(!IsButtonEnable)" @onclick="FinishQuiz"> Finish! </Button>
                        }
                        else
                        {
                            <Button Size="Size.Medium" Block="true" Color="Color.Primary" Disabled="@(!IsButtonEnable)" @onclick="NextQuestion"> Next! </Button>
                        }
                    </div>
                </div>
            </Form>

            <CascadingValue Value="CurrentQuestionNumber">
                <CascadingValue Value="IsLastQuestion">
                    <PersonalizedProgressBarsQuestions FinisgQuizCallBack="FinishQuiz" NextQuestionCallBack="NextQuestion" NumberOfqustions="@ListQuestions.Count" />
                </CascadingValue>
            </CascadingValue>

        </div>
    }
    else
    {
        <p>@Error.Message</p>
    }
}